# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false

# noinspection EditorConfigKeyCorrectness
[*.{kt,kts}]
indent_style = space
# possible values: number (e.g. 2), "unset" (makes ktlint ignore indentation completely)  
indent_size = 4
# possible values: number (e.g. 120) (package name, imports & comments are ignored), "off"
# it's automatically set to 100 on `ktlint --android ...` (per Android Kotlin Style Guide)
max_line_length = 100
# Comma-separated list of rules to disable (Since 0.34.0)
# Note that rules in any ruleset other than the standard ruleset will need to be prefixed 
# by the ruleset identifier.
disabled_rules = blank,no-trailing-spaces,no-wildcard-imports,no-blank-line-before-rbrace,experimental:no-empty-first-line-in-method-block,experimental:annotation
